*{
    margin: 0px;
    padding: 0px;    
}
body{
    max-width: 80%;
    margin: 0 auto;
    background-color: #F1F1F3;
}
/* navbar start */
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

nav >h2{
    font-size: 32px;
    font-weight: bold;
}
.nav-btn{
    border: 3px solid #006A50;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
}
.nav-btn a{
    text-decoration: none;
}

.nav-btn :hover{
    background-color: #006A50;
}
/* navbar end */

/* Hero section start */
.hero-container{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #C6E4D6;
   padding: 80px 100px;
   border-radius: 24px;
}
.hero-title-name{
    font-size: medium;
    color: #0E0E0E;
    margin-bottom: 17px;
}
.hero-title{
    font-size: 50px;
}
.hero-btn{
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    margin-top: 24px;
    
}
.hero-btn a{
    color: white;
    text-decoration: none;
    
}

/* Hero section end */

/* Pillars of "Bangladesh 2.0" start */
.pillars-title{
    margin-top: 80px;
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: bold;
}
.pillar-cart{
    width: 302px;
    height: 244px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 18px;
}
.pillar-cart-title{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;  
}
.pillar-cart p{
    color: #0E0E0E;
}
.pillars-cart-container{
    display: flex;
    gap: 24px;
}
/* Pillars of "Bangladesh 2.0" end */